* {
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Questionnaire {
  /* text-align: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: #111;
  overflow-y: auto; */
  position: absolute;
  min-height: -webkit-fill-available;
  top: 0;
  left: 0;
  right: 0;
}

.Questionnaire.preview {
  position: absolute;
}

.Questionnaire .boxContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;
  background-size: cover;
  background-blend-mode: overlay;
}

.Questionnaire .box {
  color: white;
  width: 100%;
  margin: 30px;
  padding: 10px;
  text-align: center;
}

.Questionnaire .box .title {
  color: #666;
  margin-top: 19px;
  padding-left: 1px;
  font-size: 0.85rem;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.Questionnaire .box .question {
  color: white;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 1.5rem;
  line-height: 28px;
  word-wrap: break-word;
  /* hyphens: auto; */
}

.Questionnaire .boxContainer .feedback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #333;
  z-index: 11;
  font-size: 18px;
  padding: 20px;
  text-shadow: 1px 1px 0px white;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px dotted #bfbfbf;
}

.Questionnaire .buttons {
  padding: 20px;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

.Questionnaire button {
  font-size: 1.7em;
  color: white;
  width: 100%;
  margin: 5px;
  padding: 20px;
  background: transparent;
  border-radius: 3px;
  min-height: 80px;
  border: 2px solid white;
}

.Questionnaire button:active, button:focus {
  outline: none;
}

.Questionnaire .switcher.zoomer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 120vw;
  z-index: 11;
  border-radius: 50%;
  background-color: white;
}
